.navbar {
		 background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);
		 background-repeat: no-repeat;
		 border-bottom: 1px solid #178ACC;
		 box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		 border-radius: 0px;
	}

	.navbar-default {
		 background-color: #2FA4E7;
		 border-color: #1995DC;
	}

	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus ,
	.navbar-default .navbar-nav > li > a {
		 color: #FFF;
	}
     
	.navbar-default .navbar-nav  li.active > a, 
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		 color: #FFF;
		 background-color: #178ACC;
	}

	.navbar-default .navbar-toggle  li.active > a,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: #178ACC;
	}

	.navbar-default .navbar-toggle {
		border-color: #178ACC;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	
	.active > a, .navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		color: #FFF;
		 background-color: #178ACC;
	}
	   .btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}
.text-success {
    color: #3c763d;
}
.img-circle {
    border-radius: 50%;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}
    
    .date-picker {
        border-color: #138871;
        color: #fff;
        background-color: #149077;
        margin-top: -7px;
        border-radius: 0px;
        margin-right: -15px;
    }

    .circle-tile {
        margin-bottom: 15px;
        text-align: center;
    }

    .circle-tile-content {
        padding-top: 50px;
    }

    .light-green {
        background-color: #68B828;
    }

    .green {
        background-color: #16a085;
    }

    .text-faded {
        color: rgba(255, 255, 255, 0.7);
    }

    .orange {
        background-color: #f39c12;
    }

    .blue {
        background-color: #2980b9;
    }

    .sky-blue {
        background-color: #0E62C7;
    }

    .red {
        background-color: #e74c3c;
    }

    .circle-tile-description {
        text-transform: uppercase;
    }

    .circle-tile-heading {
        position: relative;
        width: 80px;
        height: 80px;
        margin: 0 auto -40px;
        border: 3px solid rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        color: #fff;
        transition: all ease-in-out .3s;
    }

    .circle-tile-number {
        padding: 5px 0 15px;
        font-size: 15 px;
        font-weight: 700;
        line-height: 1;
    }

    .circle-tile-footer {
        display: block;
        padding: 5px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.1);
        transition: all ease-in-out .3s;
    }

    .purple {
        background-color: #8e44ad;
    }

    .circle-tile-heading .fa {
        line-height: 80px;
    }

    .fa-fw {
        width: 1.28571429em;
        text-align: center;
    }

    .tile {
        margin-bottom: 15px;
        padding: 15px;
        overflow: hidden;
        color: #fff;
    }

    .tile-img {
        text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    }

    .time-widget {
        margin-top: 5px;
        overflow: hidden;
        text-align: center;
        font-size: 1.75em;
    }