			<style>
			.footer_bottom{
			margin-top: 113px;
    padding-top: 10px;
    color: white;
    background-color: black;
		}
			</style>
			<div class="footer_bottom">
			<div class="container" style="margin-bottom: -14px">
					<div class="row">
						<div class="col-sm-6 ">
							<div class="copyright-text">
								<p>Copyright 2017 Ravaana | All Rights Reserved | Velliin India Pvt Ltd</p>
							</div>
						</div> <!-- End Col -->
						<div class="col-md-2 socialicon">
						<div class="social-icon">
							<ul class="list-inline">
								<li class="facebook">
									<a href="http://facebook.com/">
										<i class="fa fa-facebook"style="font-size: 14px;"></i></a>
								</li>
								<li class="twitter"><a href="http://twitter.com/"><i class="fa fa-twitter"style="font-size: 14px;"></i></a></li>
								<li class="google"><a href="http://google.com/"><i class="fa fa-google"style="font-size: 14px;"></i></a></li>
							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>