
<div class="container">
    <div class="row">
   <!-- <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <div class="well clearfix">
                    <div class="fa fa-dashboard">Dashboard</div>
                    <div class="pull-right" style="font-size: 12px;" >
                        <div>
                            <i class="fa fa-clock-o"></i> {{tDate | date : "EEEE, MMMM d, y HH:mm:ss a"}}
                        </div>
                    </div>
                </div>
              </div>
        </div>-->
        <div class="col-lg-12">
              <ul class="breadcrumb">
                 <li class="active">Dash Board</li>
                
              </ul>
            </div>
    <h2>Dash Board</h2>
     <hr style="border:1px solid #FF3300">
    </div>
    <div class="row">
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#members">
                    <div class="circle-tile-heading blue">
                        <i class="fa fa-users fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Members
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{homedata.membersCount}}
                        <span id="sparklineA"></span>
                    </div>
                    <a href="#members" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#loans">
                    <div class="circle-tile-heading purple">
                        <i class="fa fa-university fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content purple">
                    <div class="circle-tile-description text-faded">
                        Loans
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{homedata.loans}}
                        <span id="sparklineA"></span>
                    </div>
                    <a href="#loans" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#loans">
                    <div class="circle-tile-heading green">
                        <i class="fa fa-money fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content green">
                    <div class="circle-tile-description text-faded">
                        Issued Amount
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{homedata.issuedAmount |currency:"&#8377;"}}
                    </div>
                    <a href="#loans" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#loans">
                    <div class="circle-tile-heading sky-blue">
                        <i class="fa fa-calculator fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content sky-blue">
                    <div class="circle-tile-description text-faded">
                        Interest Amount
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{homedata.interestAmount |currency:"&#8377;"}}
                    </div>
                    <a href="#loans" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#loans">
                    <div class="circle-tile-heading light-green">
                        <i class="fa fa-inr fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content light-green">
                    <div class="circle-tile-description text-faded">
                        Total Amount
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{homedata.totalAmount |currency:"&#8377;"}}
                        <span id="sparklineB"></span>
                    </div>
                    <a href="#!loans" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#loans">
                    <div class="circle-tile-heading orange ">
                        <i class="fa fa-briefcase fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content orange">
                    <div class="circle-tile-description text-faded">
                        Paid Amount
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{homedata.paidAmount |currency:"&#8377;"}}
                        <span id="sparklineD"></span>
                    </div>
                    <a href="#loans" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="circle-tile">
                <a href="#loans">
                    <div class="circle-tile-heading red">
                        <i class="fa fa-credit-card fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content red">
                    <div class="circle-tile-description text-faded">
                        Pending Amount
                    </div>
                    <div class="circle-tile-number text-faded">
                        {{homedata.pendingAmount |currency:"&#8377;"}}
                        <span id="sparklineC"></span>
                    </div>
                    <a href="#loans" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                </div>
            </div>
        </div>

    </div>
    
</div>