<style>
	
	.navbar-header.col {
		padding: 0 !important;
	}	
	.navbar {
		color: white;
		background:#64A737;
		padding: 0 30px;
		border-radius: 0;
		border: none;
		box-shadow: 0 0 4px rgba(0,0,0,.1);
	}
	.navbar .navbar-brand {
		color:white;
		padding-left: 0;
		padding-right: 50px;
		font-size: 24px;		
	}
	.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
		color: white;
	}
	.navbar .navbar-brand i {
		font-size: 32px;
		margin-right: 5px;
	}
	
	.navbar .nav-item i {
		font-size: 32px;
	}
	.navbar .nav > li a {
		color: white;
		padding: 8px 15px;
		font-size: 14px;		
	}
	
	
	.navbar .nav > li > a > i {
		display: block;
		text-align: center;
	}
	.navbar .nav > li a:hover {
		background-color: #B8DC00;
	}
    
	
	
	.navbar .navbar-toggle {
		border-color: #fff;
	}
	.navbar .navbar-toggle .icon-bar {
		background: #fff;
	}
	.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
		background: transparent;
	}
	@media only screen and (max-width: 768px) {
		.navbar .nav > li a {
		color: white;
		padding: 8px 139px;
		font-size: 14px;		
	}
	.navbar-brand{
		font-size: 12px !important;
	}
}
	
</style>



            <nav class="navbar navbar-inverse   navbar-expand-xl navbar-dark">
            	<div class="navbar-header">
						<a class="navbar-brand" href="#home" style="font-size: 23px;font-weight: bolder;"><i class="fa fa-briefcase"></i>Annapoorneswari Finance</a>
						<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
							<span class="navbar-toggler-icon"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
						
					<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
						
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a class="nav-link" href="#members"> <i class="fa fa-user"></i><span>Members</a></li>
								<li class="nav-item"><a class="nav-link" href="#loans"> <i class="fa fa-bank"></i><span>Loans</a></li>
							<li class="nav-item"><a class="nav-link" href="#settings"> <i class="fa fa-gears"></i><span>Settings</a></li>
														<li class="dropdown nav-item" style="margin-top:31px">
								<a href="" class="nav-link dropdown-toggle user-action" data-toggle="dropdown">
									Amarnath
								  <span><b class="caret"></b></span>
								 </a>
								<ul class="dropdown-menu">
									<li> <a href="javascript:void(0);"  class="dropdown-item" style="color: black">Welcome Amarnath</a></li>
									<li class="divider dropdown-divider"></li>
									<li><a href="javascript:void(0);"  class="dropdown-item" style="color: black">About</a></li>
								</ul>
						</li>
						</ul>
					</div>
</nav>

<script>
		jq(document).ready(function () {
		    jq("nav").find("li").on("click", "a", function () {
		        jq('.navbar-collapse.in').collapse('hide');
		    });
		});
	</script>