<div class="modal fade in" id="memberModal" role="dialog" aria-hidden="false" style="display: block;"><div class="modal-backdrop fade out" style="height: 591px;"></div>
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title ng-binding">MEMBER DETAILS</h4>
				</div>

				<div class="modal-body">
					<!--<div class="container">
						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
							-->
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title ng-binding">MEMBER1</h3>
									</div>
									<div class="panel-body">
										<div class="row">

											<div class=" col-md-12 col-lg-12 ">
												<table class="table table-user-information">
													<tbody>
														<tr>
															<td>Name:</td>
															<td>{{member.name}}</td>
														</tr>
														<tr>
															<td>No of Loans:</td>
															<td class="ng-binding">2</td>
														</tr>
														<tr>
															<td>Total Amount Issued:</td>
															<td class="ng-binding">₹50,000</td>
														</tr>
														<tr>
															<td>Phone:</td>
															<td class="ng-binding">9876543210</td>
														</tr>
														<tr>
															<td>Locality:</td>
															<td class="ng-binding">Lakshmipuram</td>
														</tr>
														
														<tr>
															<td>City:</td>
															<td class="ng-binding">Tirupati</td>
														</tr>
														<tr>
															<td>State:</td>
															<td class="ng-binding">AP</td>
														</tr>
														<tr>
															<td>Adress:</td>
															<td class="ng-binding">Tiruchanoor Road,Tirupati</td>
														</tr>
														<tr>
															<td>PinCode:</td>
															<td class="ng-binding">517501</td>
														</tr>
														
														

													</tbody>
												</table>
											</div>
										</div>
									</div>
									

								</div>
							
				</div>
			</div>
		</div>
	</div>